# PBL5 IoT Smart Trash - Environment Variables

# Backend & Model
BACKEND_PORT=8080
MODEL_PORT=9999

# Firebase
FIREBASE_DB_URL="https://pbl5-f21e6-default-rtdb.asia-southeast1.firebasedatabase.app/"
FIREBASE_CRED_PATH="firebase_credit.json"
BIN_ID="bin_001"

# Cloudinary
CLOUDINARY_CLOUD_NAME="dl2odwbj5"
CLOUDINARY_API_KEY="951564895649841"
CLOUDINARY_API_SECRET="vTn19HK6w-1RjSPbmpZX5ROJdEU"